html {min-width:1200px; height:100%}

body {min-width:480px; height:100%; margin:0; padding:0; font:15px/25px Roboto, sans-serif; color:#81808b; background:#f6f6f6; -webkit-text-size-adjust:100%}

a {outline:none; color:#1592b5}
a:hover {color:#01416f}

img {border:none}

h1 {font-weight:bold; font-size:25px; line-height:30px; margin:0 0 35px 0; padding:0; text-transform:uppercase; color:#5f5f68}
h2 {font-weight:bold; font-size:20px; line-height:25px; margin:50px 0 25px 0; padding:0; text-transform:uppercase; color:#5f5f68}
h1+h2 {margin-top:25px}
h3 {font-weight:bold; font-size:18px; line-height:25px; margin:50px 0 25px 0; padding:0; text-transform:uppercase; color:#5f5f68}
h2+h3 {margin-top:25px}
h4 {font-weight:bold; font-size:15px; line-height:25px; margin:50px 0 25px 0; padding:0; text-transform:uppercase; color:#5f5f68}
h3+h4 {margin-top:25px}
p {margin:25px 0; padding:0}
ul {margin:25px 0; padding:0; list-style:none}
ul li {margin:10px 0; padding:0 0 0 25px; position:relative}
ul li:before {content:""; display:block; width:7px; height:7px; background:#1592b5; position:absolute; left:4px; top:9px}
li ul li:before {background:#01416f}
ol {margin:25px 0; padding:0; list-style:none; counter-reset:point}
ol li {margin:10px 0; padding:0 0 0 25px; position:relative}
ol li ol {counter-reset:subpoint}
ol li:before {content:counter(point)'.'; counter-increment:point 1; position:absolute; left:2px; top:0; color:#5f5f68; font-weight:bold}
li ol li:before {content:counter(point)'.'counter(subpoint); counter-increment:subpoint 1}
hr {height:1px; width:100%; margin:50px 0; padding:0; border:none; background:#e6e6e6}
blockquote {font-size:20px; font-weight:300; line-height:25px; padding:5px 0 10px 27px; border-left:4px solid #1592b5; margin:40px 0 60px 0}
.wrapper table {width:100%; margin:40px 0 60px 0; border-collapse:collapse}
.wrapper th {vertical-align:top; text-align:left; font-weight:normal; font-size:11px; line-height:25px; text-transform:uppercase; padding:0 0 2px 30px; color:#1592b5}
.wrapper th:first-child {padding-left:0}
.wrapper td {vertical-align:top; text-align:left; border-top:1px solid #ede8e7; padding:12px 0 12px 30px}
.wrapper thead+tbody td {padding-top:23px; padding-bottom:26px}
.wrapper td:first-child {padding-left:0}
.wrapper tbody tr:first-child td {border-top:none}
.wrapper thead+tbody tr:first-child td {border-top:2px solid #1592b5}
.wrapper thead+tbody tr:last-child td {border-bottom:1px solid #1592b5}

@media screen and (min-width:1200px) {
    .wrapper table {width:calc(100% + 30px); margin-left:-15px; margin-right:-15px}
    .wrapper thead tr:before {content:""; display:table-cell; width:15px}
    .wrapper thead tr:after {content:""; display:table-cell; width:15px}
    .wrapper tbody tr:before {content:""; display:table-cell; width:15px; border-top:1px solid #f6f6f6}
    .wrapper tbody tr:after {content:""; display:table-cell; width:15px; border-top:1px solid #f6f6f6}
    .wrapper tbody tr:first-child:before {border-top:none}
    .wrapper tbody tr:first-child:after {border-top:none}
    .wrapper tbody tr:hover {background:#fff}
    .wrapper tbody tr:hover td {border-top-color:#fff}
    .wrapper tbody tr:hover:before {border-top-color:#fff}
    .wrapper tbody tr:hover:after {border-top-color:#fff}
    .wrapper tbody tr:hover+tr td {border-top-color:#fff}
    .wrapper tbody tr:hover+tr:before {border-top-color:#fff}
    .wrapper tbody tr:hover+tr:after {border-top-color:#fff}
}

@media screen and (max-width:1199px) {
    .table-scroll-mobile {width:100%; overflow:auto}
}

.signature {margin:50px 0}
.signature:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.signature-text {float:left}
.signature-text strong {color:#5f5f68; text-transform:uppercase}
.signature-social {float:right; padding:6px 0 0 0}

.cols {margin:25px -15px}
.form-field .cols {margin-top:0; margin-bottom:0}
.cols:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.col-half {width:50%; float:left; padding:0 15px; box-sizing:border-box}
.col-third {width:33.33%; float:left; padding:0 15px; box-sizing:border-box}
.col-quarter {width:25%; float:left; padding:0 15px; box-sizing:border-box}

.btn-catalogue {display:block; border-radius:0; background:url(../images/btn-catalogue.png); margin:0; padding:0; outline:none; width:189px; border:none; text-decoration:none; height:60px; box-sizing:border-box; color:#81808b; text-align:center; text-transform:uppercase; font:900 12px/60px Roboto, sans-serif; -webkit-appearance:none; cursor:pointer}
.btn-catalogue:hover {background-position:left -60px; color:#81808b}
.btn-catalogue:active {background-position:left -120px; color:#81808b}

.btn-apply {display:block; border-radius:0; background:#1592b5; margin:0; padding:0; outline:none; width:100%; border:none; text-decoration:none; height:40px; box-sizing:border-box; color:#fff; text-align:center; text-transform:uppercase; font:12px/40px Roboto, sans-serif; -webkit-appearance:none; cursor:pointer}
.btn-apply:hover {background:#01416f; color:#fff}
.btn-apply:active {background:#062b46; color:#fff}

.btn-submit {display:block; border-radius:0; background:#1592b5; margin:0; padding:0; outline:none; width:100%; border:none; text-decoration:none; height:50px; box-sizing:border-box; color:#fff; text-align:center; text-transform:uppercase; font:13px/50px Roboto, sans-serif; -webkit-appearance:none; cursor:pointer}
.btn-submit:hover {background:#01416f; color:#fff}
.btn-submit:active {background:#062b46; color:#fff}

.btn-reset {display:block; border-radius:0; background:transparent; margin:0; padding:0; outline:none; width:100%; border:2px solid rgba(129, 128, 139, .15); text-decoration:none; height:40px; box-sizing:border-box; color:#81808b; text-align:center; text-transform:uppercase; font:11px/36px Roboto, sans-serif; -webkit-appearance:none; cursor:pointer}
.btn-reset:hover {border-color:#81808b; color:#81808b}
.btn-reset:active {border-color:#1592b5; color:#81808b}

form {margin:50px 0; padding:1px 30px 25px 30px; background:#fff}

.form-success {position:relative; text-align:center; background:#f8fdf8; border:1px solid #e5f6e5; padding:23px 30px 26px 30px; margin:25px 0}
.form-success-title {color:#0cb009; text-transform:uppercase; font-weight:bold}

.form-error {position:relative; text-align:center; background:#fffafa; border:1px solid #fde9e9; padding:23px 30px 26px 30px; margin:25px 0}
.form-error-title {color:#f53d20; text-transform:uppercase; font-weight:bold}

.form-row {margin:25px 0}
.form-label {font-size:12px; font-weight:bold; color:#5f5f68; text-transform:uppercase; padding:0 0 1px 0}
.form-label span {color:#c1c1d5; font-weight:normal}
.error .form-label {color:#f53d20}
.form-field {position:relative}
.form-field:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.form-input {position:relative}
.form-input+.form-input {margin:20px 0 0 0}

.form-input {position:relative}

.form-input input,
.form-input textarea {border:2px solid #e6e6e6; font:15px/25px Roboto, sans-serif; color:#81808b; vertical-align:top; margin:0; padding:10px 18px 11px 18px; width:100%; height:50px; box-sizing:border-box; outline:none; border-radius:0; background:#fff; -webkit-appearance:none}
.form-input textarea {height:auto; resize:none; overflow:auto}
.form-input input::-webkit-input-placeholder {opacity:1; color:#c6c6ca}
.form-input input::-moz-placeholder {opacity:1; color:#c6c6ca}
.form-input input:-ms-input-placeholder {opacity:1; color:#c6c6ca}
.form-input textarea::-webkit-input-placeholder {opacity:1; color:#c6c6ca}
.form-input textarea::-moz-placeholder {opacity:1; color:#c6c6ca}
.form-input textarea:-ms-input-placeholder {opacity:1; color:#c6c6ca}
.form-input input:hover,
.form-input textarea:hover {border-color:#81808b}
.form-input input.error,
.form-input textarea.error {border-color:#f53d20}
.form-input input.valid,
.form-input textarea.valid {border-color:#0cb009}
.form-input input:focus,
.form-input textarea:focus {border-color:#81808b}

.form-hint {position:absolute; right:0; top:-26px; font-size:12px; opacity:.5}
label.error {padding:0; color:#f53d20}

::-ms-clear {display:none}

.form-file-input {float:left; width:170px; height:46px; background:#faf9fc; border:2px solid #faf9fc; text-align:center; position:relative; overflow:hidden; line-height:46px; cursor:pointer; font-size:11px; text-transform:uppercase}
.form-file-input input {height:200px; position:absolute; top:0; right:0; opacity:0; cursor:pointer; font-size:200px; background:url(../images/blank.gif); -webkit-appearance:none}
.error .form-file-input {border-color:#f53d20}
.form-file-input label.error {display:none !important}
.form-file-name {margin:0 0 0 190px; padding:11px 0 0 0; opacity:.5}

.form-select select {border:2px solid #e6e6e6; font:15px/25px Roboto, sans-serif; color:#81808b; vertical-align:top; margin:0; padding:10px 18px 11px 18px; width:100%; height:50px; box-sizing:border-box; outline:none; border-radius:0; background:#fff; -webkit-appearance:none}
.form-select label.error {display:none !important}

.form-checkbox {margin:12px 0}
.form-checkbox:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.form-checkbox label {float:left; margin:0; cursor:pointer; position:relative; padding:0 0 0 30px}
.form-checkbox input {display:none}
.form-checkbox span {display:block; position:absolute; left:0; top:4px; width:15px; height:15px; border:1px solid #e6e6e6; background:url(../images/checkbox.png) no-repeat -999px -999px; border-radius:3px}
.form-checkbox label:hover span {border-color:#81808b}
.form-checkbox label input:checked+span,
.form-checkbox label input:checked+label+span {background-position:center; background-color:#1592b5; border-color:#1592b5}
.form-checkbox.error span {border-color:#f53d20}
.form-checkbox label.error {display:none !important}
.form-checkbox strong {font-weight:normal; color:rgba(129, 128, 139, .5)}
.form-checkbox label input:checked+span+strong,
.form-checkbox label input:checked+label+span+strong {color:#81808b}
.form-checkbox a {text-decoration:none}

.form-radio {margin:12px 0}
.form-radio:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.form-radio label {float:left; margin:0; cursor:pointer; position:relative; padding:0 0 0 30px}
.form-radio input {display:none}
.form-radio span {display:block; position:absolute; left:0; top:4px; width:15px; height:15px; border:1px solid #e6e6e6; border-radius:9px}
.form-radio label:hover span {border-color:#81808b}
.form-radio input:checked+span,
.form-radio input:checked+label+span {width:5px; height:5px; border:6px solid #1592b5}
.form-radio strong {font-weight:normal; color:rgba(129, 128, 139, .5)}
.form-radio label input:checked+span+strong,
.form-radio label input:checked+label+span+strong {color:#81808b}

.form-submit {margin:50px 0 0 0; width:240px}

.pager {font-size:0; line-height:0; letter-spacing:-1px; text-align:center; margin:35px 0; position:relative}
.pager a,
.pager span {display:inline-block; vertical-align:top; width:40px; height:40px; margin:0 5px; text-align:center; color:#81808b; font-size:12px; line-height:40px; font-weight:bold; letter-spacing:0; text-decoration:none; background:#fff; box-shadow:0 1px 1px rgba(0, 0, 0, .07)}
.pager span:after {content:""; display:inline-block; vertical-align:middle; width:16px; height:4px; background:url(../images/pager.png)}
.pager a:hover {color:#1592b5; box-shadow:0 7px 14px rgba(0, 0, 0, .14)}
.pager a.active {background:#1592b5; color:#fff}
.pager a.pager-all {position:absolute; right:0; top:0; width:166px; text-transform:uppercase}

.wrapper {min-width:480px; width:100%; min-height:100%; position:relative; overflow:hidden}
.wrapper-inner {padding:0 0 450px 0}

header {padding:31px 0 31px 0; background:#fff}

.logo {float:left; line-height:0}

.header-text {float:left; padding:0 0 0 160px}

.header-phone {font-size:16px; font-weight:bold; padding:9px 0 0 0; color:#81808b}
.header-phone a {text-decoration:none; color:#81808b}
.header-schedule {font-size:12px; color:#6a7277; opacity:.7; margin:-3px 0 0 0}

.header-search {float:right; margin:9px 0 0 0; padding:0}
.header-search form {margin:0; padding:0; width:370px; height:42px; background:#fafafa; position:relative}
.header-search .form-input {margin:0 60px 0 0}
.header-search .form-input input {border:none; height:42px; padding-left:13px; padding-right:0; line-height:42px; border:none; background:transparent}
.header-search .form-submit {position:absolute; right:13px; top:11px; margin:0; width:auto}
.header-search .form-submit input {width:21px; height:21px; background:url(../images/header-search.png); margin:0; padding:0; outline:none; vertical-align:top; border:none; border-radius:0; -webkit-appearance:none; cursor:pointer}
.header-search label.error {display:none !important}

.nav {height:50px; background:#1592b5}

.menu {margin:0; padding:0; text-transform:uppercase; font-weight:bold}
.menu > li {float:left; margin:0 0 0 50px; padding:0; position:relative}
.menu > li:first-child {margin:0}
.menu > li:before {display:none}
.menu > li > a {display:block; color:#fff; text-decoration:none; line-height:50px; position:relative}
.menu > li > a:after {content:""; display:block; position:absolute; left:0; bottom:0; right:0; height:0; background:#fff; transition:height .3s ease}
.menu > li.active > a:after,
.menu > li:hover > a:after {height:5px}
.menu > li > ul {position:absolute; left:-9999px; top:100%; margin:0; padding:0; width:300px; background:#fff; z-index:999; box-shadow:0 15px 30px rgba(1, 65, 111, .52)}
.menu > li:hover > ul {left:0}
.menu > li > ul > li {margin:0; padding:0; position:static}
.menu > li > ul > li:before {display:none}
.menu > li > ul > li > a {display:block; color:#81808b; text-decoration:none; font-size:13px; line-height:25px; font-weight:bold; text-transform:uppercase; padding:11px 60px 13px 38px; position:relative; border-bottom:1px solid #f6f6f6}
.menu > li > ul > li > a:after {content:""; display:block; width:8px; height:13px; position:absolute; right:40px; top:50%; margin-top:-7px; background:url(../images/menu-sub.png)}
.menu > li > ul > li:hover > a {background:#f6f6f6}

.menu-section {position:absolute; left:-9999px; top:-175px; width:390px; background:#f7f7f7; box-shadow:0 15px 30px rgba(185, 185, 185, .52)}
.menu > li > ul > li:hover .menu-section {left:100%}
.main-section-header {background:#6cd86b; padding:32px 30px 46px 30px}
.main-section-back {width:19px; height:14px; background:url(../images/main-section-back.png)}
.main-section-title {font-size:18px; line-height:20px; font-weight:900; text-transform:uppercase; padding:25px 0 0 0}
.main-section-title a {color:#fff; text-decoration:none}
.main-section-title a:hover {text-decoration:underline}
.main-section-header ul {margin:0; padding:18px 0 0 0; font-weight:300; text-transform:none; font-size:15px; line-height:25px}
.main-section-header ul li {margin:0; padding:0}
.main-section-header ul li:before {display:none}
.main-section-header ul li a {color:#fff; text-decoration:none}
.main-section-header ul li a:hover {text-decoration:underline}
.menu-section-catalogue {padding:20px 11px 20px 20px}
.menu-catalogue-item {display:table; margin:10px 0 0 0; background:#fff; width:340px; text-decoration:none; font-weight:bold; font-size:14px; line-height:20px; text-transform:uppercase; box-shadow:0 1px 1px rgba(0, 0, 0, .07)}
.menu-catalogue-item:first-child {margin:0}
.menu-catalogue-item-photo {display:table-cell; vertical-align:middle; text-align:center; width:125px; height:125px; line-height:0}
.menu-catalogue-item-name {display:table-cell; vertical-align:middle; height:125px; padding:0 30px 0 10px}

.breadcrumbs {font-size:11px; text-transform:uppercase; padding:23px 0 0 0}
.breadcrumbs span {display:inline-block; vertical-align:middle; width:9px; height:7px; background:url(../images/breadcrumbs.png); margin:-2px 9px 0 9px}
.breadcrumbs a {text-decoration:none}

.container {max-width:1170px; margin:0 auto; padding:0 15px}
.container:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.side {float:left; width:270px; padding:27px 0 0 0}

.side-menu {background:#fff; box-shadow:0 1px 1px rgba(0, 0, 0, .07)}
.side-menu > ul {margin:0; font-size:13px; font-weight:bold; text-transform:uppercase}
.side-menu > ul > li {margin:0; padding:0; border-top:1px solid #e1e1e1}
.side-menu > ul > li:first-child {border-top:none}
.side-menu > ul > li:before {display:none}
.side-menu > ul > li > a {display:block; position:relative; padding:12px 30px; color:#81808b; text-decoration:none}
.side-menu > ul > li > a:hover {color:#01416f}
.side-menu > ul > li > span {display:block; position:absolute; right:0; top:0; width:38px; height:49px; background:url(../images/blank.gif); cursor:pointer}
.side-menu > ul > li > span:before {content:""; display:block; position:absolute; right:30px; top:50%; margin-top:-4px; width:8px; height:8px; background:url(../images/side-menu.png)}
.side-menu > ul > li.active > span:before {background-position:left -8px}
.side-menu > ul > li > ul {display:none; font-size:13px; line-height:19px; font-weight:normal; margin:-3px 0 0 0; padding:0 33px 13px 33px; border-bottom:none; text-transform:none}
.side-menu > ul > li.active > ul {display:block}
.side-menu > ul > li > ul > li {margin:0; padding:0 3px 5px 3px}
.side-menu > ul > li > ul > li:before {display:none}
.side-menu > ul > li > ul > li > a {color:#81808b; text-decoration:none}
.side-menu > ul > li > ul > li > a:hover {color:#01416f; text-decoration:none}
.side-menu > ul > li > ul > li.active > a {color:#1592b5; text-decoration:none}

.side+.content {margin:0 0 0 300px}

.content-wrap {float:left; width:100%; padding:36px 0 0 0}

.slider {position:relative; margin:25px 0}
.slider-content {font-size:0; line-height:0; letter-spacing:-1px; width:100%; white-space:nowrap}
.slider-item {display:inline-block; vertical-align:top; width:1200px; white-space:normal}
.slider-item-inner {display:block; text-decoration:none; background:#fff no-repeat right center; margin:0 15px; color:#81808b; height:400px; position:relative; overflow:hidden; padding:0 600px 0 100px}
.slider-item-inner:hover {color:#81808b}
.slider-item-title {color:#1592b5; font-weight:bold; font-size:34px; line-height:38px; letter-spacing:0; padding:40px 0 0 0}
.slider-item-title a {color:#1592b5; text-decoration:none}
.slider-item-text {font-size:20px; line-height:25px; letter-spacing:0; font-weight:300; padding:32px 0 0 0}
.slider-item-list {font-size:15px; line-height:25px; letter-spacing:0; padding:26px 0 0 0}
.slider-item-list ul {margin:0}
.slider-item-list li {margin:0; padding:0}
.slider-item-list li:before {display:none}
.slider-item-list a {color:#81808b; text-decoration:underline}
.slider-item-list a:hover {text-decoration:none}
.slider-ctrl {position:absolute; left:50%; bottom:49px; margin:0 0 0 -485px; font-size:0; line-height:0; letter-spacing:-1px; white-space:nowrap}
.slider-ctrl a {float:left; width:47px; height:3px; background:rgba(137, 137, 137, .15); margin:0 0 0 3px}
.slider-ctrl a:first-child {margin:0}
.slider-ctrl a span {display:block; width:0; height:3px; background:#1592b5}
.slider .slick-prev,
.slider .slick-next {display:block; position:absolute; z-index:2; top:50%; width:70px; height:70px; border:none; border-radius:50%; background:#1592b5; margin:-35px 0 0 0; padding:0; -webkit-appearance:none; cursor:pointer}
.slider .slick-prev {right:50%; margin-right:660px}
.slider .slick-next {left:50%; margin-left:660px}
.slider .slick-prev:hover,
.slider .slick-next:hover {background:#01416f}
.slider .slick-prev:before,
.slider .slick-next:before {content:""; display:block; width:14px; height:25px; background:url(../images/slider-arrows.png); position:absolute; left:50%; top:50%; margin:-12px 0 0 -7px}
.slider .slick-next:before {background-position:-14px top; margin-left:-6px}

@media screen and (max-width:1439px) {
    .slider .slick-prev {right:auto; left:-40px; margin-right:0}
    .slider .slick-next {left:auto; right:-40px; margin-left:0}
    .slider .slick-prev:before {left:auto; margin-left:0; right:17px}
    .slider .slick-next:before {left:17px; margin-left:0}
}

.main-sections {position:relative; margin:25px 0}
.main-sections-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.main-sections-item {float:left; width:33.33%; box-sizing:border-box; border-top:1px solid #f6f6f6; border-left:1px solid #f6f6f6}
.main-sections-item-01,
.main-sections-item-02,
.main-sections-item-03 {border-top:none}
.main-sections-item-01,
.main-sections-item-04,
.main-sections-item-06 {border-left:none}
.main-sections-item-04 {width:66.66%}
.main-sections-item-inner {height:249px; padding:0 170px 0 30px; background:#fff no-repeat right center; position:relative; transition:box-shadow .3s ease}
.main-sections-item-inner:hover {box-shadow:0 15px 50px rgba(0, 0, 0, .14); z-index:1}
.main-sections-link-root {display:block; position:absolute; left:0; top:0; right:0; bottom:0}
.main-sections-item-title {font-size:18px; line-height:20px; font-weight:900; text-transform:uppercase; letter-spacing:0; padding:69px 0 0 0}
.main-sections-item-title a {position:relative; text-decoration:none}
.main-sections-item-inner ul {margin:17px 0 0 0; color:#81808b; font-size:15px; line-height:25px; font-weight:300}
.main-sections-item-inner li {margin:0; padding:0; position:static}
.main-sections-item-inner li:before {display:none}
.main-sections-item-inner li a {color:#81808b; position:relative; text-decoration:none}
.main-sections-item-inner li a:hover {color:#81808b; text-decoration:underline}
.main-sections-item-08 .main-sections-item-inner {padding-right:30px}
.main-sections-item-08 .main-sections-item-title {line-height:249px; text-align:center; padding:0}
.main-sections-item-08 .main-sections-item-title a {display:block}

.brands {background:#fff; padding:74px 0 75px 0}
.brands h3 {text-align:center; margin:0}

.brands-list {font-size:0; line-height:0; letter-spacing:-1px; margin:25px -15px 0 -15px; position:relative}
.brands-list-inner {position:relative; width:100%; white-space:nowrap}
.brands-list-col {display:inline-block; vertical-align:top; width:25%}
.brands-list-item {display:block; margin:25px 15px 0 15px; border:1px solid #e6e6e6; height:98px; line-height:98px; text-align:center}
a.brands-list-item:hover {border-color:#01416f}
.brands-list-item img {display:inline-block !important; vertical-align:middle; max-width:100%; max-height:100%}
.brands-list .slick-prev,
.brands-list .slick-next {display:block; position:absolute; top:-57px; width:38px; height:38px; border:1px solid #e7e7e7; border-radius:50%; background:none; margin:0; padding:0; -webkit-appearance:none; cursor:pointer}
.brands-list .slick-prev:hover,
.brands-list .slick-next:hover {border-color:#0f91d5}
.brands-list .slick-prev {right:65px}
.brands-list .slick-next {right:15px}
.brands-list .slick-prev:before,
.brands-list .slick-next:before {content:""; display:block; width:9px; height:15px; background:url(../images/brands-arrow.png); position:absolute; left:50%; top:50%; margin:-8px 0 0 -5px}
.brands-list .slick-next:before {background-position:-9px top; margin-left:-4px}
.brands-list .slick-prev:hover:before {background-position:left -15px}
.brands-list .slick-next:hover:before {background-position:-9px -15px}

.prefs {padding:99px 0 100px 0}
.prefs h3 {text-align:center; margin:0}
.prefs-list {margin:50px -15px 0 -15px}
.prefs-list:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.prefs-item {float:left; width:33.33%; padding:0 15px; box-sizing:border-box}
.prefs-item-inner {display:block; background:#fff; padding:36px 30px 0 100px; height:89px; text-transform:uppercase; color:#5f5f68; text-decoration:none; font-weight:bold}
.prefs-item-inner:hover {color:#5f5f68; box-shadow:0 7px 50px rgba(0, 0, 0, .15)}
.prefs-item-1 .prefs-item-inner {background:#fff url(../images/pref-1.png) no-repeat 27px center}
.prefs-item-2 .prefs-item-inner {background:#fff url(../images/pref-2.png) no-repeat 17px center}
.prefs-item-3 .prefs-item-inner {background:#fff url(../images/pref-3.png) no-repeat 25px center}

.articles {background:#fff; padding:99px 0 107px 0}
.articles h3 {text-align:center; margin:0}
.articles-inner {padding:72px 100px}
.articles-inner:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.articles-item {float:left; width:50%; box-sizing:border-box; position:relative}
.articles-item:after {content:""; display:block; width:1px; position:absolute; top:4px; bottom:-6px; background:#eceff0}
.articles-item:nth-child(1) {padding:0 115px 0 0}
.articles-item:nth-child(1):after {right:-1px}
.articles-item:nth-child(2) {padding:0 0 0 115px}
.articles-item:nth-child(2):after {left:0}
.articles-item a {display:block; text-decoration:none; color:#81808b}
.articles-item-title {font-weight:bold; font-size:20px; color:#1592b5}
.articles-item a:hover .articles-item-title {text-decoration:underline}
.articles-item-anonce {padding:27px 0 0 0}
.articles-item-date {font-weight:900; font-size:12px; text-transform:uppercase; padding:26px 0 0 0; color:#ccc}
.articles-all-link .btn-catalogue {margin:0 auto; background-position:left -180px}
.articles-all-link .btn-catalogue:hover {background-position:left -60px}
.articles-all-link .btn-catalogue:active {background-position:left -120px}

.main-map {margin:0 0 -50px 0; position:relative}
.main-map #map {height:725px}

.map-detail {position:absolute; width:310px; background:#fff; padding:30px 30px 42px 30px; top:90px; right:50%; margin-right:-585px}
.map-detail-photo {line-height:0; margin:0 0 25px 0}
.map-detail-photo img {width:100%}
.map-detail p {margin:15px 0 0 0}
.map-detail a {text-decoration:none}

.catalogue-list {margin:0 -15px 50px -15px; font-size:0; line-height:0; letter-spacing:-1px}
.catalogue-item {display:inline-block; vertical-align:top; width:33.33%; padding:30px 15px 0 15px; box-sizing:border-box}
@media screen and (min-width:1200px) {
    .catalogue-item:nth-child(1),
    .catalogue-item:nth-child(2),
    .catalogue-item:nth-child(3) {padding-top:0}
}
.catalogue-item-inner {display:block; background:#fff; position:relative; box-shadow:0 1px 1px rgba(0, 0, 0, .07); padding:0 0 51px 0; text-decoration:none; color:#1592b5}
@media screen and (min-width:1200px) {
    .catalogue-item-inner:hover {box-shadow:0 15px 50px rgba(0, 0, 0, .14); color:#098ed4}
}
.catalogue-item-photo {text-align:center; width:100%; min-height:225px; line-height:225px; position:relative; overflow:hidden; margin:0 0 25px 0}
.catalogue-item-photo img {max-width:100%; vertical-align:middle}
.catalogue-item-name {font-size:15px; font-weight:bold; line-height:25px; letter-spacing:0; text-transform:uppercase; padding:0 30px; text-align:center}
.catalogue-item-event {position:absolute; left:10px; top:10px; font-size:11px; line-height:39px; width:39px; height:39px; border-radius:50%; text-align:center; letter-spacing:1px; text-transform:uppercase; color:#fff}
.catalogue-item-event-new {background:#0cb009}

.catalogue-text {background:#fff; padding:50px; margin:90px 0 0 0}
.catalogue-text h2 {margin:0 0 37px 0; color:#1592b5}

.catalogue-text-wrap {position:relative; max-height:125px; overflow:hidden}
.catalogue-text-wrap.open {max-height:none; margin:0 0 23px 0}
.catalogue-text-wrap.open:after {display:none}
.catalogue-text-wrap p {margin:0; padding:25px 0 0 0}
.catalogue-text-wrap p:first-child {padding:0}

.catalogue-text-more {text-transform:uppercase; display:none; margin:26px 0 0 0; font-size:13px}
.catalogue-text-wrap.hidden+.catalogue-text-more {display:block}
.catalogue-text-more a {background:url(../images/catalogue-text-more-link.png) repeat-x left bottom; text-decoration:none}
.catalogue-text-more a:hover {background:none}
.catalogue-text-more a span {display:none}
.catalogue-text-more a span:first-child {display:inline}
.catalogue-text-wrap.open+.catalogue-text-more a span {display:inline}
.catalogue-text-wrap.open+.catalogue-text-more a span:first-child {display:none}

.product {background:#fff; margin:-9px 0 0 0; padding:0 0 50px 0}
.product:after {content:"."; display:block; clear:both; visibility:hidden; height:0}

.product-left {float:left; width:50%; padding:0 15px 0 0; box-sizing:border-box; position:relative}
.product-left:after {content:""; display:block; width:1px; background:#f0f0f1; position:absolute; right:-16px; top:50px; bottom:0}

.product-photo-big {line-height:0; position:relative; height:0; padding:100% 0 0 0; overflow:hidden}
.product-photo-big-inner {position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; overflow:hidden}
.product-photo-big-inner a {display:none; position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; overflow:hidden}
.product-photo-big-inner a.active {display:block}
.product-photo-big-inner a:after {content:""; display:block; width:48px; height:48px; position:absolute; left:0; top:0; background:url(../images/zoom.png)}
.product-photo-big-inner a:hover:after {background-position:left -48px}
.product-photo-big img {vertical-align:middle; max-width:100%; max-height:100%}

.product-photo-preview {margin:15px -30px 15px -15px; font-size:0; line-height:0; letter-spacing:-1px}
.product-photo-preview ul {margin:0 0 0 15px; text-align:center}
.product-photo-preview ul li {margin:0; padding:15px; display:inline-block; vertical-align:top; width:70px}
.product-photo-preview ul li:before {display:none}
.product-photo-preview ul li a {display:block; width:70px; height:70px; position:relative; overflow:hidden; text-align:center; line-height:70px}
.product-photo-preview ul li a:after {content:""; display:block; position:absolute; left:0; top:0; right:0; bottom:0; border:1px solid #f2ecec}
.product-photo-preview ul li a:hover:after {border-color:#ccc8c8}
.product-photo-preview ul li.active a:after {border-width:2px; border-color:#1592b5}
.product-photo-preview ul li img {max-width:100%; vertical-align:middle}

.product-right {float:right; width:50%; position:relative; padding:75px 100px 0 115px; box-sizing:border-box}
.product-right:after {content:""; display:block; width:1px; background:#f0f0f1; position:absolute; left:15px; top:50px; bottom:0}

.product-right h1 {font-size:33px; line-height:38px; text-transform:none; margin-top:18px}
.product-right .catalogue-item-event {left:auto; right:100%; margin-right:15px; z-index:2; top:48px}

.product-info {margin:43px 0 0 0; padding:0}
.product-info:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.product-info dt {float:left; clear:left; width:150px; margin:0; padding:0; opacity:.5}
.product-info dd {margin:0 0 0 150px; padding:0}

.product-text {margin:30px 0 40px 0}

.product-tabs {background:#fff; margin:25px 0 0 0}

.product-tabs-menu {border-bottom:1px solid #f6f6f6; text-transform:uppercase; font-size:0; line-height:0; letter-spacing:-1px; font-weight:bold; padding:12px 0 0 0; position:relative}
.product-tabs-menu ul {margin:0; padding:0; text-align:center}
.product-tabs-menu li {margin:0; padding:0; display:inline-block; vertical-align:top; font-size:13px; line-height:25px; letter-spacing:0}
.product-tabs-menu li:before {display:none}
.product-tabs-menu li a {color:rgba(128, 129, 139, .7); display:block; width:200px; padding:19px 0; position:relative; text-decoration:none}
.product-tabs-menu li a:hover {color:#1592b5}
.product-tabs-menu li.active a {color:#1592b5}
.product-tabs-menu-line {position:absolute; left:0; bottom:-1px; width:0; background:#1592b5; height:9px}

.product-tab-content {display:none; padding:24px 100px 40px 100px}
.product-tab-content.active {display:block}

.product-tab-content table {background:#f6f6f6; border:1px solid #f6f6f6}

.content-video {margin:50px 0; position:relative; padding:56.25% 0 0 0; height:0}
.content-video iframe {position:absolute; left:0; top:0; width:100%; height:100%}

.doc {border-top:1px solid #ebebeb; padding:49px 0 47px 0}
.doc:first-child {border-top:none; padding-top:24px}
.doc:last-child {padding-bottom:0}
.doc:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.doc-icon {float:left; width:70px; padding:1px 0 0 0}
.doc-icon span {display:block; width:40px; height:53px; background:url(../images/doc-icon.png); font-size:11px; font-weight:bold; line-height:53px; text-align:center; text-transform:uppercase}
.doc-icon span.doc-file-pdf {color:#f22105}
.doc-icon span.doc-file-xls {color:#0cb009}
.doc-icon span.doc-file-doc {color:#548bb5}
.doc-text {margin:0 0 0 70px}
.doc-title {font-weight:bold; font-size:20px}
.doc-title a {text-decoration:none}
.doc-descr {padding:15px 0 0 0}
.doc-size {font-size:12px; color:#c0bfcf; padding:13px 0 0 0; text-transform:uppercase}

.contacts-info {float:left; background:#fff; padding:46px 50px 52px 50px; width:470px; margin:-9px 0 0 0}
.contacts-info h1 {margin-bottom:-3px}
.contacts-info dl {margin:25px 0 0 0; padding:0}
.contacts-info dl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.contacts-info dt {float:left; clear:left; margin:0; padding:0; width:170px}
.contacts-info dd {margin:0 0 0 170px; padding:0; color:#5f5f68}
.contacts-info a {text-decoration:none}

.contacts-map {float:right; width:570px; margin:-9px 0 0 0}
.contacts-map #map {height:720px}

.contacts-form {float:left; background:#fff; width:470px; padding:49px 50px 25px 50px; margin:25px 0 0 0; position:relative}
.contacts-form h2 {margin-top:0}
.contacts-form form {margin:0; padding:0; background:none}
.contacts-form .form-submit {margin-top:0}

.page-404 {text-align:center; position:relative; background:url(../images/page-404.png) no-repeat center 7px; margin:122px 0 0 0}
.page-404 h1 {text-align:center}
.page-404-text {font-size:25px; line-height:38px; font-weight:300; padding:18px 0 144px 0}

.search-ctrl {margin:50px 0}
h1+.search-ctrl {margin:30px 0 13px 0}
.search-ctrl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.search-results-form {float:left; display:table; width:770px; margin:0; padding:0; background:none}
.search-results-form .form-row {display:table-cell; vertical-align:top; margin:0}
.search-results-form .form-field {display:block}
.search-results-form .form-input input {border-color:#fff; box-shadow:0 1px 1px rgba(0, 0, 0, .07)}
.search-results-form label.error {display:none !important}
.search-results-form .form-submit {display:table-cell; margin:0; vertical-align:top; padding:0 0 0 30px; width:auto}

.search-ctrl .pager {float:right; margin:0}
.search-ctrl .pager a,
.search-ctrl .pager span {height:50px; line-height:50px}

.search-result {border-bottom:1px solid #e6e6e6; padding:36px 0 37px 0}
.search-result-section {text-transform:uppercase; font-weight:bold}
.search-result-date {font-size:12px; padding:26px 0 0 0}
.search-result-path {font-size:12px}

.news-item {border-bottom:1px solid #e6e6e6; padding:25px 0}
.news-item:first-child {padding-top:0}
.news-item:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.news-item-photo {float:left; line-height:0; width:350px; border:1px solid #eceff0; padding:9px; background:#fff}
.news-item-photo img {width:100%}
.news-item-photo+.news-item-content {margin:0 0 0 400px}
.news-item-title {font-weight:bold; font-size:20px; text-transform:uppercase; padding:36px 0 0 0}
.news-item-anonce {padding:12px 0 0 0}
.news-item-date {font-size:13px; color:#1592b5; padding:13px 0 0 0}

.news-single {padding:0 100px}
.news-single-date {color:#1592b5; margin:-25px 0 50px 0}
.news-single-source {color:#485f70; font-size:13px; margin-top:-14px}
.news-single-source a {color:#84a9d9}

footer {background:#fff; height:400px; margin:-400px 0 0 0; position:relative; min-width:480px; width:100%; overflow:hidden}
footer a {text-decoration:none}

.footer-contacts {float:left; width:500px}
.footer-logo {line-height:0; padding:43px 0 0 0}
.footer-contacts dl {margin:0; padding:29px 0 0 0}
.footer-contacts dl:after {content:"."; display:block; clear:both; visibility:hidden; height:0}
.footer-contacts dt {float:left; clear:left; margin:0; padding:13px 0 0 0; width:130px}
.footer-contacts dd {margin:0 0 0 130px; padding:13px 0 0 0}
.footer-contacts dd strong {font-weight:normal; color:#5f5f68}

.footer-menu {float:right}
.footer-menu-catalogue {float:left; width:470px; padding:0 30px 0 0}
.footer-menu-nav {float:left; width:170px}
.footer-menu-title {font-weight:bold; text-transform:uppercase; color:#01416f; padding:48px 0 0 0}
.footer-menu ul {float:left; margin:0; padding:1px 0 0 0; list-style:none; max-width:210px}
.footer-menu ul li {margin:12px 0 0 0; padding:0}
.footer-menu ul li:before {display:none}

.bottom {position:absolute; left:0; bottom:0; right:0; height:75px; background:#f6f6f6; line-height:75px}
.copyrights {float:left}
.developer {float:right}